<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="edu.wisc.ece454.hu_mon">

    <uses-permission
        android:name="android.permission.CAMERA"
        android:required="true" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />

    <uses-permission android:name="android.permission.INTERNET" />

    <!--
         The ACCESS_COARSE/FINE_LOCATION permissions are not required to use
         Google Maps Android API v2, but you must specify either coarse or fine
         location permissions for the 'MyLocation' functionality. 
    -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Activities.LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Activities.MenuActivity" />
        <activity android:name=".Activities.IndexActivity" />
        <activity android:name=".Activities.HumonInfoActivity" />
        <activity android:name=".Activities.PartyActivity" />
        <activity android:name=".Activities.PartyInfoActivity" />
        <activity android:name=".Activities.CreateHumonActivity" />
        <activity android:name=".Activities.CreateHumonImageActivity" />
        <activity android:name=".Activities.FriendsListActivity" />
        <activity android:name=".Activities.MoveListActivity" />

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.example.android.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <service
            android:name=".Services.ServerConnection"
            android:enabled="true"
            android:exported="true" />

        <!-- Push notification stuff -->
        <service
            android:name=".Services.MyFirebaseMessagingService"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
        <service android:name=".Services.MyFirebaseInstanceIDService">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />

        <activity
            android:name=".Activities.MapsActivity"
            android:label="@string/title_activity_maps" />

        <service
            android:name=".Services.StepService"
            android:exported="true"
            android:permission="android.permission.BIND_JOB_SERVICE"
            android:stopWithTask="true" />

        <activity android:name=".Activities.BattleActivity" />
    </application>

</manifest>